@charset "utf-8";
html{
    font-size: 100px;
}
html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-text-size-adjust: 100%!important;
    -moz-text-size-adjust: 100%!important;
    -ms-text-size-adjust: 100%!important;
}
html, body, ul, li, ol, p, div, h1, h2, h3, h4, h5, h6, nav, header, footer, table, tr, td, th, form, label, span {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
ul, li {
    list-style: none;
    padding: 0;
}
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
img {
    vertical-align: top;
    border: 0;
}
input, label, textarea {
    vertical-align: top;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #999;
}
::-moz-focus-inner{
    border:0px;        /*火狐的私有属性去掉点击时边框*/
}
.flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.fcol {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex1{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.fshrink0{
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.fwrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fnowrap{
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.spb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.spa {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.fend{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.spc {
    -webkit-justify-content: center;
    justify-content: center;
}
.fcen {
    -webkit-align-items: center;
    align-items: center;
}
.fbot{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
[v-cloak] {
    display: none;
}
.txtL {
    text-align: left;
}
.txtC {
    text-align: center;
}
.txtR {
    text-align: right;
}
.show{
    display: block!important;
}
.hide{
    display: none!important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.bold{
    font-weight: 600;
}
.light{
    font-weight: 400;
}
body::-webkit-scrollbar {
    display: none;
}
